/ch02/EmployeeEntity/build/
/ch03/01-jpa-statelessSessionBeanExample/nbproject/private/
/ch03/01-jpa-statelessSessionBeanExample/build/
/ch03/01-jpa-statelessSessionBeanExample/dist/
/ch03/02-jpa-statelessSessionBeanLifeCycleExample/nbproject/private/
/ch03/02-jpa-statelessSessionBeanLifeCycleExample/build/
/ch03/02-jpa-statelessSessionBeanLifeCycleExample/dist/