/ch02/EmployeeEntity/build/
/ch03/01-jpa-statelessSessionBeanExample/nbproject/private/
/ch03/01-jpa-statelessSessionBeanExample/build/
/ch03/01-jpa-statelessSessionBeanExample/dist/
/ch03/02-jpa-statelessSessionBeanLifeCycleExample/nbproject/private/
/ch03/02-jpa-statelessSessionBeanLifeCycleExample/build/
/ch03/02-jpa-statelessSessionBeanLifeCycleExample/dist/
/ch03/03-jpa-statefulSessionBeanExample/nbproject/private/
/ch03/04-jpa-statefulSessionBeanExample/nbproject/private/
/ch03/05-jpa-statefulSessionBeanLifeCycleExample/nbproject/private/
/ch03/06-jpa-SingletonExample/nbproject/private/
/ch03/06-jpa-SingletonExample/build/
/ch03/08-jpa-dependencylookup/nbproject/private/
/ch03/08-jpa-dependencylookup/build/
/ch03/08-jpa-dependencylookup/dist/
/ch03/10-jpa-fieldinjection/nbproject/private/
/ch03/10-jpa-fieldinjection/build/
/ch03/11-jpa-setterinjection/nbproject/private/
/ch03/11-jpa-setterinjection/build/
/ch03/12-jpa-RRHH/target/
/ch06/ch06-01-txScopedEntiyManager/target/